@font-face {
    font-family: Montserrat;
    src: url(../assests/font/Montserrat/Montserrat-VariableFont_wght.ttf);
    
}

:root{
    --main-bg-color: AntiqueWhite;
    --text-color: #000000;
    /* --text-color: pink; */
    /* --font-family-all: Dancing-script; */
    --font-family-all: Montserrat;
    --padding-page: 10px;
}


html{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--font-family-all);
    padding: var(--padding-page);
}

header{
    text-align: center;
}

#intro-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

#intro-text{
    text-align: center;
    font-size: large;
    padding-right: 1rem;
}

#self-image{
    width: 100%;
    padding-right: 1rem;
}

#self-pic{
    width: 100%;
    padding-right: 1rem;
}

.course-table, th, td{
    border: 1px solid black;
    padding: 8px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7d99b;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.nav-links li{
    list-style: none;
    margin: 0 12px;
}

.nav-links li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #04645c;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before{
    width: 100%;
}

.nav-links li.center a:before{
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

/* Styles for desktop */

/* @media only screen and (max-width: 1080px){
    :root{
        --main-bg-color: AntiqueWhite;
        --text-color: #000000;
        --font-family-all: Montserrat;
        --padding-page: 10px;
    }

    #intro-box{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

} */

/* Styles for phones */

@media only screen and (max-width: 450px){
    :root{
        --main-bg-color: AntiqueWhite;
        --text-color: #000000;
        --font-family-all: Montserrat;
        --padding-page: 10px;
    }

    #intro-box{
        display: grid;
        /* justify-content: space-between; */
        padding: 1 rem;
        width: 100%;
    }

    #intro-text{
        text-align: center;
        font-size: small;
        /* padding: 1rem; */
        /* width: 100%; */
    }
    
    #self-image{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
    }

}


